*.iml
.cxx
.gradle
local.properties
/.idea/caches
/.idea/codeStyles
/.idea/dictionaries
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetDropDown.xml
/.idea/deploymentTargetSelector.xml
/.idea/misc.xml
/.idea/jarRepositories.xml
/.idea/shelf/
.DS_Store
.directory
/build
/captures
.externalNativeBuild
