<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="green_green_avk.anotherterm"
    android:installLocation="internalOnly">

    <uses-sdk tools:overrideLibrary="me.saket.bettermovementmethod" />

    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:extractNativeLibs="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="true"
        android:supportsPictureInPicture="false"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".SessionsActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />

        <activity
            android:name=".FavoriteEditorActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:label="@string/title_activity_favorite_editor"
            android:parentActivityName=".SessionsActivity"
            android:theme="@style/AppSettingsTheme"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SessionsActivity" />
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="local-terminal" />
                <data android:scheme="uart" />
                <data android:scheme="ssh" />
                <data android:scheme="telnet" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SshKeysSettingsActivity"
            android:label="@string/action_ssh_keys_settings"
            android:parentActivityName=".SessionsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SessionsActivity" />
        </activity>

        <activity
            android:name=".backends.ssh.SshModulePortFwActivity"
            android:label="@string/title_sshPortFw" />

        <activity
            android:name=".TermKeyMapManagerActivity"
            android:label="@string/title_activity_key_mappings"
            android:parentActivityName=".SessionsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SessionsActivity" />
        </activity>

        <activity
            android:name=".TermKeyMapEditorActivity"
            android:configChanges="keyboardHidden|keyboard"
            android:label="@string/title_activity_key_mapping_editor"
            android:parentActivityName=".TermKeyMapManagerActivity"
            android:theme="@style/AppSettingsTheme"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TermKeyMapManagerActivity" />
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="termkeymap" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ScratchpadActivity"
            android:label="@string/title_scratchpad" />

        <activity
            android:name=".ShareInputActivity"
            android:label="@string/action_share_with_new_session">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".OpenInputActivity"
            android:label="@string/action_open_in_new_session"
            android:targetActivity=".ShareInputActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".AnsiConsoleActivity"
            android:configChanges="keyboardHidden|keyboard"
            android:label="Console"
            android:launchMode="singleTop"
            android:parentActivityName=".SessionsActivity"
            android:theme="@style/AppConsoleTheme"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SessionsActivity" />
        </activity>

        <activity
            android:name=".GraphicsConsoleActivity"
            android:configChanges="keyboardHidden|keyboard"
            android:label="Console"
            android:launchMode="singleTop"
            android:parentActivityName=".SessionsActivity"
            android:theme="@style/AppConsoleTheme"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SessionsActivity" />
        </activity>

        <service
            android:name=".ConsoleService"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".ControlService"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="green_green_avk.anotherterm.intent.action.START_SESSION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <provider
            android:name=".LinksProvider"
            android:authorities="${applicationId}.linksprovider"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedContentProvider" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <provider
            android:name=".StreamProvider"
            android:authorities="${applicationId}.streamprovider"
            android:exported="false"
            android:grantUriPermissions="true" />

        <activity
            android:name=".RequesterActivity"
            android:label="Select" />

        <activity
            android:name=".AboutActivity"
            android:label="@string/title_about"
            android:parentActivityName=".SessionsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SessionsActivity" />
        </activity>

        <activity
            android:name=".InfoActivity"
            android:exported="false"
            android:label="@string/title_info"
            tools:ignore="AppLinkUrlError">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="${applicationId}"
                    android:scheme="info" />
            </intent-filter>
        </activity>

    </application>

</manifest>
